.main-btn, option {
    background: none !important;
    border: 2px white solid !important;
    border-radius: 20px !important;
    color: white !important;
    padding: 0 10px 0 10px !important;
    min-width: 80px !important;
}