@charset "UTF-8";

@import 'vendor/normalize';

@import url('https://fonts.googleapis.com/css?family=Montserrat');

$navRGBa: rgb(0,0,0);
$alpha: .3;
$navAlpha: rgba($navRGBa, $alpha);
html {
    min-height: 100vh !important;
}

body {
    min-height: 100vh !important;
    // width: 100vw;
    background-image:
        linear-gradient(
        -45deg, 
        #6B5B4B, #A09665
    );
    z-index: -1;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 0;
    font-size: 14px;
    overflow: auto;
}

main {
    min-height: 92vh;
}

.contacts {
    background: rgba(0,0,0, .5);
    border-radius: 10px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding:10px;
    
    h4 {
        color: white;
    }

    p {
        color: white;
    }

    span {
        color: white;
        float: right;
    }
}

.title {
    margin-left: 10px;
    margin-top: 10px;
}

.account-page {
    h1 {
        margin-left: 20px;
    }
    h3 {
        margin-left: 20px;
    }
}
#app {
    min-height: 90vh;
    margin: 0 !important;
    padding: 0 !important;
}
.main-form {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.main-text-box {
    width: 80% !important;
    margin: 10px 10px !important;
    background: rgba(0,0,0, .5) !important;
    border: none !important;
    color: white !important;
    border-radius: 20px !important;
    padding-left: 10px !important;
}

.landingDiv {
    h2 {
        color: #FFF;
    }
    text-align: center;
    position: relative;
    top: 20vh;
    width: 100vw;
}

.navbar {
    background: $navAlpha;
    width: 100vw;
    height: 8vh;
    color:white;

    a {
        color:white;
        text-decoration: none;
    }

    margin-bottom: 0;

    

}

.trail-btn {
    min-height: 5vh;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    text-align: center;
}

footer {
    background: $navAlpha;
    width: 100vw;
    height: 8vh;
    // position: relative;
    // bottom: 0vh;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    color:white;
    
    p {
        text-align: center;
    }
}

.main-btn {
    background: none;
    border: 2px white solid;
    border-radius: 20px;
    color: white;
    padding: 0 10px 0 10px;
    min-width: 80px;
}

.main-btn:hover {
    cursor: pointer;
}

#map {
    height: 70vh;
    width: 100vw;
}
.azMap {
    height: 70vh;
    width: 100vw;
}
#map-wrapper {
    height: 70vh;
    width: 100vw;
}

.leaflet-popup-content {
    margin: 3px;
    line-height: 1.4;
}

.trail-pop {
    position: relative;
    height: 250px;
    width: auto;
    padding: 5px;
    margin: 0px;
}

.info-container {
    float: left;
    width: 50%;
}

.trail-stuff {
    height: 80%;
}

.lead {
    text-align: center;
}

.trail-name {
    background-color: rgb(248, 247, 247);
    font-size: 150%;
}

.trail-length {
    background-color: rgb(248, 247, 247);
    margin: 0px;
}

.trail-summary {
    background-color: rgb(248, 247, 247);
    font-size: 100%;
    height: 90px;
    overflow: auto;
}

.bubble{
    animation: animateElement linear .3s;
    animation-iteration-count: 1;
    background:#e7e7e7;
    margin-bottom:5px;
    width:100%;
    min-height:30px;
    border-radius:10px;
   }
  
  @keyframes animateElement{
    0% {
      opacity:0;
      transform:  translate(0px,10px);
    }
    100% {
      opacity:1;
      transform:  translate(0px,0px);
    }
  }

img {
    height: 100%;
    display:block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    // object-fit: cover;
//   width: 50px;
//   height: 100px;
}

.modal.fade .modal-dialog {
    transform: translate3d(0, 100vh, 0);
  }
  
  .modal.in .modal-dialog {
    transform: translate3d(0, 0, 0);
  }

  .modal.fade{
      opacity: 1 !important;
  }
  .modal.show .modal-dialog {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}
.modal-dialog{
    background-image:
        linear-gradient(
        -45deg, 
        #6B5B4B, #A09665
    );
}
.modal-content{
    background: rgba(0,0,0, .5);
}
#modalHeader, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    color: white !important;
}

.react-datepicker__time-list{
    // margin-left: 0;
    padding: 0
}




